.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #f1f2f3;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 90%;
}